.projetos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.projetos-item {
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.projetos-item h3 {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.projetos-item p {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .projetos-header,
  .projetos-item {
    padding: 16px;
    margin-bottom: 20px;
  }

  .projetos {
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .projetos {
    grid-template-columns: 1fr;
    gap: initial;
  }
}
